<div class="login-page animate">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
        	<img src="assets/images/flat-avatar.png" class="user-avatar" />
			<h1>Ani Angular2 <small>Free Edition</small></h1>
			<form role="form">
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
					</div>
				</div>
				<a class="btn rounded-btn" [routerLink]="['dashboard', 'home']"> Log in </a>
			</form>
		</div>	
	</div>
</div>